@import "_vars.css";

* {
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  margin: 5px;
  padding: 4px 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: var(--btn-color);
  color: white;
  transition: all 0.3s ease-in-out;
  height: 25px;
  width: 70px;
  transition: all 0.5s ease-in-out;  
}
textarea {
  resize: none;
}

button:hover {
  background-color: var(--btn-hover-color);
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.header {
  display: flex;
  background-color:var(--header-color);
  justify-content: center;
  width: 100vw;
  transition: all 0.5s ease-in-out;  
  
}
.divider {
  width: 100vw;
  height: 5vw;
  background-color: var(--header-color);
  clip-path: polygon(0 0, 0 100%, 100% 0);
  transition: all 0.5s ease-in-out;  
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.md-field.md-theme-default > .md-icon:after {
  background-color: rgba(255, 255, 255, 0);
}
.no-match {
    margin-top: 20px;
    text-align: center;
    line-height: 1;
    font-size: 2em;
    font-weight: 700;
    color: white;
    background-color: rgb(253, 67, 92);
    padding: 20px;
  }
  .error {
    font-size: 0.9em;
    padding-left: 5px;
    font-weight: 600;
    color: rgb(230, 4, 4);
    animation-name: shake;
    animation-duration: 0.2s;
  }

  .delete-btn {
    background-color: rgb(192, 0, 0);
  }
  .delete-btn:hover {
    background-color: rgb(169, 255, 112);
  }
  .error-input{
    animation-name: shake;
    animation-duration: 0.2s;
    border: 1px solid red;
  }

  .transition-color {
    transition: all 0.5s ease-in-out;  
  }


@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px;
  }
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}

:root{
  /* color vars */
  --header-color:rgb(55, 143, 102);
  --nav-color: rgb(251, 255, 37);
  --nav-hover-color: black;
  --btn-color:#0ddf99;
  --btn-hover-color: orange;
  --footer-color: gainsboro;
  --logo-color:  rgb(97, 7, 89);
}
